<section class="content">
  <h2>O que é Pomodoro?</h2>
  <main>
    <p>Se você tem dificuldade de organizar o seu tempo então você precisa conhecer a <strong>Técnica Pomodoro</strong>.
      A técnica
      pomodoro foi desenvolvida para que possa manter-se focado em alguma atividade no qual deseja
      fazer mas não
      consegue concluir.</p>
  </main>
  <article>
    <p>Através dela você pode aumentar a sua <strong>produtividade</strong>, melhorar a qualidade dos seus
      <strong>estudos</strong>, realizar tarefas e
      manter o foco no seu <strong>trabalho</strong>, ou concluir qualquer atividade.</p>

    <p>Controle o tempo necessário para cumprir cada tarefa utilizando o nosso temporizador pomodoro.
    </p>
  </article>

  <aside>
    <h2>Quais os Benefícios?</h2>
    <ul>
      <li>Alivia a ansiedade para começar algo</li>
      <li>Melhora o foco e a concentração</li>
      <li>Diminui a quantidade de interrupções</li>
      <li>Te mantém mais motivado para cumprir seus objetivos</li>
      <li>Melhora seu desempenho no trabalho e ao estudar.</li>
      <li>Fortalece sua determinação para continuar se esforçando diante dos problemas.
      </li>
    </ul>
  </aside>

  <aside>
    <h2>Como o Temporizador Pomodoro funciona:</h2>
    <ol>
      <li>Defina a atividade que deseja terminar</li>
      <li>Clique em Começar para iniciar o Pomodoro</li>
      <li>Trabalhe ou Estude até o Pomodoro tocar</li>
      <li>Faça um pequeno intervalo</li>
      <li>Comece um novo Pomodoro</li>
      <li>Repita o processo até cumprir sua tarefa</li>
    </ol>
  </aside>
</section>
