<div class="body">
  <div class="container-login">
    <div class="content-login">
      <img class="logo" src="../assets/img/tomato.png" alt="Qahal" />
      <h1>POMODORO</h1>
      <div class="contador">
        <p>{{ tempo }}</p>
        <div class="botoes">
          <button class="btn" (click)="comecar()">Começar</button>
          <button class="btn" (click)="zerar()">Parar</button>
          <button class="btn" (click)="definirIntervalo()">Intervalo</button>
        </div>
        <p>
          Gerencie seu tempo usando uma <strong>técnica</strong> cientificamente
          <strong>comprovada</strong>.
        </p>
      </div>

    </div>
  </div>
</div>
<app-content></app-content>
